@import '../../styles/variables.scss';
@import '../../styles/to-rem.scss';


.header-container{
    background-color: $primary-color;
    height: toRem(50);
    width: 100%;
    -webkit-box-shadow: 0 toRem(4) toRem(7) 0 #5909a3; 
    box-shadow: 0 toRem(4) toRem(7) 0 #5909a3;

    padding: 0;

    .container-fluid{
        justify-content: space-around;
    }

    .header-row{
        width: 86%;

        @media (max-width: 425px) {
            width: -webkit-fill-available;
        }
    }

    .header-text{
        color: $white;
        background-color: inherit;
        text-align: center;
        font-weight: 100;
        font-size: toRem(17);
        padding: 0 0 toRem(10) 0;

        @media (max-width: 425px) {
            padding: 0;
        }
    }
}
