<div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             (click)="showFollowing()"
                             class="expansion-container btn-following">
          <mat-expansion-panel-header class="header-container-following">
            <mat-panel-title class="expansion-title">
              following
            </mat-panel-title>
          </mat-expansion-panel-header>
          <cdk-virtual-scroll-viewport itemSize="12" style="height: 10rem">
              <ul id="following-list" *cdkVirtualFor="let user of users">
                <li class="list-item">
                    <div class="user-container">
                      <div>
                          <img class="user-img-list" [src]="user?.picture?.large" alt="user picture">
                      </div>
                      <p class="user-name-list">
                        {{user?.name?.first}} {{user?.name?.last}}
                      </p>
                    </div>
                    <app-btn-unfollow (click)="btnUnfollow(user)"></app-btn-unfollow>
                </li>
              </ul>
          </cdk-virtual-scroll-viewport>
        </mat-expansion-panel>
      </mat-accordion>
</div>