<mat-card>
    <div class="card-bckground-img">
        <img src="../../../../../assets/img/woman-img.jpeg" mat-card-image>
    </div>
    <div class="info-header-container">
        <mat-card-header>
            <img src="../../../../../assets/img/woman-img.jpeg" mat-card-avatar>
            <div class="name-container">
                <mat-card-title>
                    Julia Beims
                </mat-card-title>
            </div>
            <div class="address-container">
                <mat-card-subtitle>
                    Curitiba, Brasil
                </mat-card-subtitle>
            </div>
        </mat-card-header>
    </div>
</mat-card>