<div class="card-main-info-container">
    <mat-card>
        <div class="row">
            <div class="col">
                <div class="card-bckground-img">
                    <img [src]="mainUser?.picture?.large" class="img-bck" mat-card-image>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img-container">
                    <img [src]="mainUser?.picture?.large" class="img-avatar" mat-card-lg-image>
                </div>
            </div>
        </div>
        <div class="row g-0 info-card-container">
            <mat-card-title-group class="col info-container">
                <div class="btn-container" [ngClass]="{'from-api': mainUser?.fromApi}">
                    <div class="btn-follow" *ngIf="mainUser?.fromApi">
                        <app-btn-follow *ngIf="!checkIfFollowing()" (click)="btnFollow()"></app-btn-follow>
                        <app-btn-unfollow [large]="true" *ngIf="checkIfFollowing()" (click)="btnUnfollow()"></app-btn-unfollow>
                    </div>
                    <div class="btn-next">
                        <app-btn-try-next-one (click)="btnNext()"></app-btn-try-next-one>
                    </div>
                </div>
                <div class="name-container">
                    <mat-card-title class="name-title-style">
                        {{mainUser?.name?.first}} {{mainUser?.name?.last}}
                    </mat-card-title>
                </div>
                <div class="address-container">
                    <mat-card-subtitle class="address-title-style">
                        {{mainUser?.location?.city}}, {{mainUser?.location?.country}}
                    </mat-card-subtitle>
                </div>
            </mat-card-title-group>
        </div>
    </mat-card>
</div>
