@import '../../../../styles/variables.scss';
@import '../../../../styles/to-rem.scss';


.spinner-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-progress-spinner, .mat-spinner{

    width: 75px !important;
    height: 75px !important;

    & svg{
        width: 75px !important;
        height: 75px !important;

        & circle{
            stroke: #ab59f5; 
        }
    }
}