@import '../../../styles/variables.scss';
@import '../../../styles/to-rem.scss';


.header-container{
    background-color: $primary-color;
    height: toRem(50);
    position: fixed;

    -webkit-box-shadow: 0px 4px 7px 0px #5909a3; 
    box-shadow: 0px 4px 7px 0px #5909a3;

    padding: 0;
    span{
        color: $white;
        font-weight: 100;
        font-size: toRem(17);
        padding: 0 0 0 toRem(100);
    }
}
