@import '../../../../../styles/variables.scss';
@import '../../../../../styles/to-rem.scss';

.btn-one{
    border: toRem(2) solid $primary-color;
    color: $primary-color;

    width: toRem(110);
}

.btn-one:hover{
    background-color: $primary-color;
    border: toRem(2) solid transparent;
    color: $white;
    cursor: pointer;
}

.btn-follow-sm{
    width: toRem(64);
    height: toRem(22);

    font-size: toRem(12);
    line-height: 0;
    
    padding: 0;
    border: toRem(1) solid $primary-color;
}