<div class="home-container container-fluid">
    <div class="row align-items-center title-container">
        <div class="col title-style">
            Find new users like you
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-card-main-info></app-card-main-info>
        </div>
    </div>
    <div class="row gx-1 cards-info">
        <div class="col">
            <app-card-info></app-card-info>
        </div>
        <div class="col">
            <app-card-info></app-card-info>
        </div>
    </div>
    <div class="row gx-2 pb-3">
        <div class="col-12 mt-2">
            <h2 class="mb-2">
                Suggestions 4 you
            </h2>
        </div>
        <div class="col">
            <app-card-suggestions-users></app-card-suggestions-users>
        </div>
        <div class="col">
            <app-card-suggestions-users></app-card-suggestions-users>
        </div>
        <div class="col">
            <app-card-suggestions-users></app-card-suggestions-users>
        </div>
        <div class="col">
            <app-card-suggestions-users></app-card-suggestions-users>
        </div>
    </div>
</div>
