<div class="home-container container-fluid">
    <div class="row align-items-center title-container">
        <div class="col title-style">
            Find new users like you
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-card-main-info [mainUser]="mainUser" (nextUser)="updateUsersArray($event)" (follow)="homeSetStorage($event)" (unfollow)="unfollowUser($event)"></app-card-main-info>
        </div>
    </div>
    <div class="row row-col-sm gx-1 cards-info">
        <div class="col-12 pb-1 col-md-6">
            <app-card-info [typeCard]="'personal'" [mainUser]="mainUser"></app-card-info>
        </div>
        <div class="col-12 col-md-6">
            <app-card-info [typeCard]="'contact'" [mainUser]="mainUser"></app-card-info>
        </div>
    </div>
    <div class="row gx-2 pb-3">
        <div class="col-12 mt-2">
            <h2 class="mb-2">
                Suggestions 4 you
            </h2>
        </div>
        <ng-container *ngIf="!smallScreen">
            <div class="col" *ngFor="let user of users">
                <app-card-suggestions-users [user]="user" (follow)="addNewSuggestionUser($event)"></app-card-suggestions-users>
            </div>
        </ng-container>
        <ng-container *ngIf="smallScreen">
            <swiper [slidesPerView]="1" (reachEnd)="getLast($event)">
                <ng-template swiperSlide class="col-12"  *ngFor="let user of users">
                    <app-card-suggestions-users [user]="user" (follow)="addNewSuggestionUser($event)"></app-card-suggestions-users>
                </ng-template>
            </swiper>
        </ng-container>
    </div>
</div>
