@import '../../../styles/variables.scss';
@import '../../../styles/to-rem.scss';

.home-container{
    margin-top: 50px;
    width: 84%;
}

.title-container{
    color: $white;
    font-weight: 100;
    letter-spacing: toRem(2);

    font-size: toRem(30);
    height: toRem(81);
}

.title-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards-info{
    margin-top: toRem(6);
}
