@import '../../../styles/variables.scss';
@import '../../../styles/to-rem.scss';

.home-container{
    margin-top: toRem(50);
    width: 84%;
}

.title-container{
    height: toRem(81);

    @media (max-width: 425px) {
        height: toRem(66);
    }
}

.title-style{
    display: flex;
    flex-direction: row;
    justify-content: center;

    letter-spacing: toRem(2);

    color: $white;
    font-weight: 100;
    font-size: toRem(30);

    @media (max-width: 425px) {
        font-size: toRem(24);
        letter-spacing: toRem(1.4);
    }
}

.cards-info{
    margin-top: toRem(6);
}
