<div class="suggestion-card-container">
    <mat-card>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img class="img-style" src="../../../../../assets/img/woman-img.jpeg" alt="user avatar">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column align-items-center">
                <div class="name-container">
                    <mat-card-title class="mt-2 style-name">
                        Julia Beims
                    </mat-card-title>
                </div>
                <div class="address-container">
                    <mat-card-subtitle class="style-address">
                        Curitiba, Brasil
                    </mat-card-subtitle>
                </div>
                <div class="description-container">
                    <mat-card-content class="style-description">
                        Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.
                    </mat-card-content>
                </div>
                <div>
                    <app-btn-follow [small]="true"></app-btn-follow>
                </div>
            </div>
        </div>
    </mat-card>
</div>